<section class="todo-section">
  <div class="todo-section__title">
    <p class="todo-section__due"><%= section_title%></p>
    <p class="todo-section__count"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do|todo|%>
      <% if !overdue or !todo.completed%>
        <li class="todo-item">
          <label class="todo-item__container">

            <%= form_with(url: "/todos/#{todo.id}",method:"put") do %>
              <input
              class="todo-item__checkbox"
              name="completed"
              type="checkbox" <%= todo.completed ? "checked" : "" %>
              onclick="this.form.submit()"
              />
            <% end %>
            <p class='<%= todo.completed ? "todo_item__completed-text" : "" %>'><%= todo.todo_text %></p>
            <% if show_due_date %>
              <p class="todo_item__due-date"><%= todo.due_date.to_s(:short) %></p>
            <% end %>
            <a class="todo-item__delete">
              <img src="delete.svg" />
            </a>
          </label>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
