<article class="todo-main">
  <h1 class="todo-main__title">My To-do list</h1>
  <%= form_with(url: "/todos", method: "post", class: "add-todo") do %>
    <%= text_field_tag "todo_text", nil, placeholder:"What's next? ", class: "add-todo__input"%>
    <%= date_field_tag "due_date", nil, class: "add-todo__date"%>
    <%= submit_tag "Add", class: "add-todo__button"%>
  <% end %>

  <%=render partial: "todo-section", locals: {
    section_title: "Overdue",
    todos: @todos.overdue,
    show_due_date: true,
    overdue: true} %>

  <%=render partial: "todo-section", locals: {
    section_title: "Due Today",
    todos: @todos.due_today,
    show_due_date: false,
    overdue: false} %>

  <%=render partial: "todo-section", locals: {
    section_title: "Due Later",
    todos: @todos.due_later,
    show_due_date: true,
    overdue: false} %>
</article>
